Source: deck
Section: misc
Priority: optional
Maintainer: Jeremy Davis <jeremy@turnkeylinux.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: deck
Architecture: any
Depends: ${misc:Depends}
Description: overlay-based virtual filesystem branching system
